@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AddEmployeeViewModel

@{
}

<h1>Add New Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" id="firstN" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Middle Name</label>
        <input type="text" id="middleN" class="form-control" asp-for="MiddleName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" id="lastN" class="form-control" asp-for="LastName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" id="address" class="form-control" asp-for="Address">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" id="dob" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">SSN</label>
        <input type="text" id="ssn" class="form-control" asp-for="SocialSecurityNumber" />
    </div>
    <button type="submit" class="btn btn-primary" onclick="return requiredField()">Submit</button>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-outline-primary">Back to Index</a>
</form>


@*
    Script To help format the SSN input
*@
<script>
    var ssn = document.getElementById('ssn')
    ssn.addEventListener('input', ssnFormatHelper, false);
    var previouslength = 0

    function ssnFormatHelper(){
        if (ssn.value.length >= 11){
            ssn.value = ssn.value.substr(0, 11);
        }
        if (ssn.value.length == 3 && previouslength <= ssn.value.length) {
            ssn.value += '-';
        }
        else if (ssn.value.length == 6 && previouslength <= ssn.value.length) {
            ssn.value += '-';
        }
        previouslength = ssn.value.length
    }

    function requiredField(){
        var errorString = ""

        if (document.getElementById('firstN').value == "") {
            errorString += "First Name can't be blank"
        }
        if (document.getElementById('middleN').value == "") {
            errorString += (errorString != "") ? "\n" : ""
            errorString += "Middle Name can't be blank"
        }
        if (document.getElementById('lastN').value == "") {
            errorString += (errorString != "") ? "\n" : ""
            errorString += "Last Name can't be blank"
        }
        if (document.getElementById('address').value == "") {
            errorString += (errorString != "") ? "\n" : ""
            errorString += "Address can't be blank"
        }
        if (document.getElementById('dob').value == "") {
            errorString += (errorString != "") ? "\n" : ""
            errorString += "Date of Birth can't be blank"
        }
        if (ssn.value.length < 11){
            errorString += (errorString != "") ? "\n" : ""
            errorString += "Incorrect SSN format. Please use the correct format ###-##-###"
        }
        
        if (errorString != ""){
            alert(errorString)
            event.preventDefault()
        }
        
    }
</script>