@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AddEmployeeViewModel

@{
}

<h1>Add New Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Middle Name</label>
        <input type="text" class="form-control" asp-for="MiddleName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">SSN</label>
        <input type="text" id="ssn" class="form-control" asp-for="SocialSecurityNumber" />
    </div>
    <button type="submit" class="btn btn-primary" onclick="requiredField()">Submit</button>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-outline-primary">Back to Index</a>
</form>


@*
    Script To help format the SSN input
*@
<script>
    var ssn = document.getElementById('ssn')
    ssn.addEventListener('input', ssnFormatHelper, false);
    var previouslength = 0

    function ssnFormatHelper(){
        if (ssn.value.length >= 11){
            ssn.value = ssn.value.substr(0, 11);
        }
        if (ssn.value.length == 3 && previouslength <= ssn.value.length) {
            ssn.value += '-';
        }
        else if (ssn.value.length == 6 && previouslength <= ssn.value.length) {
            ssn.value += '-';
        }
        previouslength = ssn.value.length
    }

    function requiredField(){
        if (ssn.value.length < 11)
            alert("Incorrect SSN format\nPlease use the correct format ###-##-###")
            event.preventDefault() 
    }
</script>